<!DOCTYPE html>
<html>
<head>
  <title>HU</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  .container-fluid {
    background-color: black;
  }
  .pull-right {
    margin-top: 7.5px;
  }
  </style>
</head>
<body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="home">History of Universe  </a>
    </div>
    <div class="pull-right">
      <button type="submit" class="btn btn-success">Ask Question</button>
    </div>
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <%= yield %>
</div>


</body>
</html>
